{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./components",
          "@layout/*": "./layouts",
          "@pages/*": "./pages",
          "@theme": "./theme"
        }
      }
    ]
  ]
}