
body, html {
  font-family: 'Sriracha', cursive, 'Coda Caption', sans-serif, 'Segoe UI';
  margin: 0;
  min-height: 100vh;
}
body {
  overflow-x: hidden;
}
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end) infinite,
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.stats-wrapper {
  display: flex;
}
.card-image-section {
  width: 50%;
}

/* Info Section Styles */
@media only screen and (max-width: 768px) {
  .card-image-section {
    width: 100%;
  }
  .stats-wrapper {
    display: block;
  }
}

.box {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-color: #F44336;
  height: 200px;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 200px;
}
.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: linear;
}
@keyframes bounce-1 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-100px); }
  100% { transform: translateY(0); }
}

/* Animations for the landing page image */
.animate--bounce-up {
  animation: bounce-up 2s;
  -moz-animation: bounce-up 2s; /* Firefox */
  -webkit-animation: bounce-up 2s; /* Safari and Chrome */
  -o-animation: bounce-up 2s; /* Opera */
}

@keyframes bounce-up {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-25px);} 
  60% {transform: translateY(-12.5px);} 
} 

@-moz-keyframes bounce-up { /* Firefox */
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-25px);} 
  60% {transform: translateY(-12.5px);} 
}
@-webkit-keyframes bounce-up { /* Safari and Chrome */
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-25px);} 
  60% {transform: translateY(-12.5px);} 
}
@-o-keyframes bounce-up { /* Opera */
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-25px);} 
  60% {transform: translateY(-12.5px);}  
}

/* Animations for stats section */
.animate--fade-in-left {
  animation: fadein-left 2s;
  -moz-animation: fadein-left 2s; /* Firefox */
  -webkit-animation: fadein-left 2s; /* Safari and Chrome */
  -o-animation: fadein-left 2s; /* Opera */
}
@keyframes fadein-left {
  from {
      opacity:0;
      transform: translateX(-40px);
  }
  to {
      opacity:1;
      transform: translateX(0px);
  }
}
@-moz-keyframes fadein-left { /* Firefox */
  from {
      opacity: 0;
      transform: translateX(-40px);
  }
  to {
      opacity: 1;
      transform: translateX(0px);
  }
}
@-webkit-keyframes fadein-left { /* Safari and Chrome */
  from {
      opacity: 0;
      transform: translateX(-40px);
  }
  to {
      opacity: 1;
      transform: translateX(0px);
  }
}
@-o-keyframes fadein-left { /* Opera */
  from {
      opacity: 0;
      transform: translateX(-40px);
  }
  to {
      opacity: 1;
      transform: translateX(0px);
  }
}

.animate--fade-in-right {
  animation: fadein-right 2s;
  -moz-animation: fadein-right 2s; /* Firefox */
  -webkit-animation: fadein-right 2s; /* Safari and Chrome */
  -o-animation: fadein-right 2s; /* Opera */
}
@keyframes fadein-right {
  from {
      opacity:0;
      transform: translateX(40px);
  }
  to {
      opacity:1;
      transform: translateX(0px);
  }
}
@-moz-keyframes fadein-right { /* Firefox */
  from {
      opacity: 0;
      transform: translateX(40px);
  }
  to {
      opacity: 1;
      transform: translateX(0px);
  }
}
@-webkit-keyframes fadein-right { /* Safari and Chrome */
  from {
      opacity: 0;
      transform: translateX(40px);
  }
  to {
      opacity: 1;
      transform: translateX(0px);
  }
}
@-o-keyframes fadein-right { /* Opera */
  from {
      opacity: 0;
      transform: translateX(40px);
  }
  to {
      opacity: 1;
      transform: translateX(0px);
  }
}


.is-hidden {
  display: none;
}

/* carousel Logic*/
.carousel ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.carousel {
  position: relative;
}

@media (max-width: 991px) {
  .carousel__slide {
    padding-right: 60px;
    padding-left: 60px;
  }
}

.carousel__slide--active {
  display: block !important;
}

.carousel-slide__job-title {
  font-style: italic;
}

.carousel__arrow:focus {
  outline: 0;
}
.carousel__arrow:hover {
  opacity: 0.5;
}

.carousel__indicators li:nth-of-type(n + 2) {
  margin-left: 9px;
}

.carousel__indicator:hover {
  opacity: 0.5 !important;
}
.carousel__indicator--active:hover {
  opacity: 0.75 !important;
}
